<div>
  <div><%= link_to 'Home', root_path %></div>
  <div><%= link_to 'About', about_us_path %></div>
  <div><%= link_to 'Contact', contact_path %></div>
  <div><%= link_to 'Gallery', projects_path %></div>
  <div><%= link_to 'Employment', employment_path %></div>
</div>